body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

/* ------- Header ------*/

header {
	background-color: #83B9D5;
	height: 25em;
	padding: 4em;
	color: white;
}

.bryan {
	font-size: 4em;
}
.swagerty {
	margin-top: -0.35em;
	font-size: 4em
;}

header > p {
	font-size: 2em;
	margin-top: 2em;
	font-family: 'Indie Flower', cursive;
}

header > * {
	margin: 0;
	text-align: center;
}

/*----------Media Query Header ------*/


@media only screen and (max-width: 1000px) {
	header {
		height: 100vh;
	}
	.bryan,
	.swagerty {
		font-size: 10em;
	}
	header > p {
		font-size: 4.7em;
	}
	p.content {
		font-size: 1.5em;
	}
	.content {
		padding: 1.4em;
	}
	.block {
		padding: 1em 1em;
	}
}


.block {
	min-height: 14em;
	padding: 10em 0;
}

.second-block {
	background-color: #83d5c8;
	color: white;
}

.third-block {
	background-color: white;
	color: #404040;
}

.content {
	max-width: 45em;
	margin: 0 auto;
	font-size: 1.2em;

}

/* FOOTER */

footer {
	background-color: #8390d5;
	padding: 5em 0;
	width: 100%;
	color: white;
	text-align: center;
}

.look-through {
	font-family: 'Indie Flower', cursive;
	margin-bottom: -1em;
}

footer > ul {
	padding: 0;
	list-style: none;
}

.social a {
	text-decoration: none;
	color: white;

}

.social a:hover {
	color: #83d5c8;
}

.social-icon {
	font-size: 4em;

}

.social1, 
.social2,
.social3,
.social4 {
	display: none;
}